head
    meta(charset="utf-8")
    meta(content="width=device-width, initial-scale=1, viewport-fit=cover", name="viewport")
    meta(content="#0b0c0c", name="theme-color")

    meta(content="noindex, nofollow, noarchive", name="robots")

    link(href="/images/favicon.ico", rel="icon", sizes="48x48")
    link(href="/images/favicon.svg", rel="icon", sizes="any", type="image/svg+xml")
    link(color="blue", href="/images/govuk-icon-mask.svg", rel="mask-icon")
    link(href="/images/govuk-icon-180.png", rel="apple-touch-icon")
    meta(content="/images/govuk-opengraph-image.png", property="og:image")

    link(rel='stylesheet', href='/stylesheets/application.css')

    block extra_layout_header

    title= title + " | One Login Stub"
