mixin startbutton(title, link)
  a.govuk-button.govuk-button--start(href=link, role="button", draggable="false", data-module="govuk-button")
    = title
    svg.govuk-button__start-icon(xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false")
      path(fill="currentColor", d="M0 0h13l20 20-20 20H0l20-20z")

mixin summary_row(title, value)
  div.govuk-summary-list__row
    dt.govuk-summary-list__key= title
    dd.govuk-summary-list__value= value

html.govuk-template(lang='en')
  include header.pug
body.govuk-template__body
  include content.pug
  include footer.pug